:host {
  display: block;
  height: 100vh;
}

.home-root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #07102a; /* solid dark background per request */
  color: #fff;
}

.center {
  text-align: center;
}

.center h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.6rem;
}

.center a {
  display: inline-block;
  margin-top: 1rem;
  color: #9eb3ff;
  text-decoration: none;
  font-weight: 600;
}
